<!DOCTYPE html>
<html>
  <head>
    <title>Better Transite Alliance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%# link_to 'All Posts', posts_path %>
    <%# link_to 'New Post', new_post_path %>
    <%= render 'layouts/messages'%>
    <font color="green"><%# notice || alert %></font>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  <%# debug(params) if Rails.env.development? %>
</html>
